<%= form_with(model: perfil, local: true) do |form| %>
  <% if perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perfil.errors.count, "error") %> prohibited this perfil from being saved:</h2>

      <ul>
      <% perfil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, id: :perfil_sexo %>
  </div>

  <div class="field">
    <%= form.label :f_nac %>
    <%= form.date_select :f_nac, id: :perfil_f_nac %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :perfil_usuario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
