<!-- AUDIT 2 -->

<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> no se puede finalizar el cuestionario:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style type="text/css">
  p{
    float: left;
    margin: 10px;
  }
  span{
    margin: 10px;
  }
  #cabeza{
    position: relative;
  }
  h3{
    margin: 20px;
  }
</style>

<div id = "cabeza">
<h3>En el último año, ¿con qué frecuencia ha consumido usted alguna bebida alcoholica?</h3>


<p>
  <%= radio_button_tag(:i1a, '0', false, :name => "i1") %>
  <%= form.label(:i1a, "Nunca") %></p>

<p>
  <%= radio_button_tag(:i1b, '1', false, :name => "i1") %>
  <%= form.label(:i1b, "1 o menos vecew al mes") %> </p>

<p>
  <%= radio_button_tag(:i1c, '2', false, :name => "i1") %>
  <%= form.label(:i1c, "De 2 a 4 veces al mes") %> </p>

<p>
  <%= radio_button_tag(:i1d, '3', false, :name => "i1") %>
  <%= form.label(:i1d, "De 2 a 3 veces a la semana") %> </p>

<p>
  <%= radio_button_tag(:i1e, '4', false, :name => "i1") %>
  <%= form.label(:i1e, "4 o más veces a la semana") %> </p>

</div>

<div id = "cabeza" style="clear: both;">

<div style="margin-top: 50px;"><br><h3>¿Cuántos TRAGOS de alcohol suele tomar en un día de consumo normal?</h3></div>


<p>
  <%= radio_button_tag(:i2a, '0', false, :name => "i2") %>
  <%= form.label(:i2a, "1 ó 2") %></p>

<p>
  <%= radio_button_tag(:i2b, '1', false, :name => "i2") %>
  <%= form.label(:i2b, "3 ó 4") %> </p>

<p>
  <%= radio_button_tag(:i2c, '2', false, :name => "i2") %>
  <%= form.label(:i2c, "5 ó 6") %> </p>

<p>
  <%= radio_button_tag(:i2d, '3', false, :name => "i2") %>
  <%= form.label(:i2d, "7, 8 ó 9") %> </p>

<p>
  <%= radio_button_tag(:i2e, '4', false, :name => "i2") %>
  <%= form.label(:i2e, "10 ó más") %> </p>

</div>
</div>  

<div id = "cabeza" style="clear: both;">

<div style="margin-top: 50px;"><br><h3>¿Con qué frecuencia toma 5 o más TRAGOS en un solo día?</h3></div>

<p>
  <%= radio_button_tag(:i3a, '0', false, :name => "i3") %>
  <%= form.label(:i3a, "Nunca") %></p>

<p>
  <%= radio_button_tag(:i3b, '1', false, :name => "i3") %>
  <%= form.label(:i3b, "Menos de una vez al mes") %> </p>

<p>
  <%= radio_button_tag(:i3c, '2', false, :name => "i3") %>
  <%= form.label(:i3c, "Mensualmente") %> </p>

<p>
  <%= radio_button_tag(:i3d, '3', false, :name => "i3") %>
  <%= form.label(:i3d, "Semanalmente") %> </p>

<p>
  <%= radio_button_tag(:i3e, '4', false, :name => "i3") %>
  <%= form.label(:i3e, "A diario o casi a diario") %> </p>

</div>
</div>  

  <div class="actions" style="clear: both"> 
  <br>
    <%= form.submit("Listo") %>
  </div>
<% end %>
