<p id="notice"><%= notice %></p>

<p>
  <strong>I1:</strong>
  <%= @item.i1 %>
</p>

<p>
  <strong>I2:</strong>
  <%= @item.i2 %>
</p>

<p>
  <strong>I3:</strong>
  <%= @item.i3 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @item.total %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
