<!DOCTYPE html>
<html>
  <head>
    <title>Audit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <img src=<%= image_url "footer-mutualseguridad.png" %>  class="d-inline-block align-top" alt=""></img>
       Intervenciones Breves
    </a>
<p class="navbar-text" >
    Usuario
  </p>

</nav>



    <%= yield %>

</body>

<footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Versión:</span><br>
          1.0 <br>
          En construcción<br>
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Proyecto:</span><br>
          Intervención Breve vía Internet<br>
          Basado en AUDIT y AUDIT-BI
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"Esta app ha sido desarrollada para detectar el uso excesivo de alcohol y proveer ayuda oportuna"</p>
          
        </section>
      </div>
      <div class="text-center">&copy; Proyecto SUCESO Poblete - Barticevic</div>
      <br>
    </div>
  </footer>

 
</html>
